/* navbar */
.navbar {
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: #2196f3;
}

.navlink {
    display: inline-block;
    margin-left: 40px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}
