/* Form styles*/
.container {
    padding: 0 2rem;
    margin: 2rem auto;
}

.submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 1rem;
}

.submit button[type='submit'] {
    border: 1px solid #ccc;
}

.submit button[type='submit']:hover {
    border-color: #888;
}

.submit > a {
    text-decoration: none;
}

.error {
    color: #f30070;
    margin: 1rem 0 0;
}
