.mapboxgl_canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 60%;
    max-height: 80%;
}

.marker_btn {
    background: none;
    border: none;
    cursor: pointer;
}

.map_container {
    margin: 5rem;
}

.message {
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    height: 100%;
}

.message p {
    background-color: white;
    padding: 1.2rem;
}
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
}

.clusterMarker {
    color: #fff;
    background: #4226f8;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
}

.alert_box {
    width: 224px;
    min-height: 65px;
    background: #fff;
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);
    border-radius: 3px;
    margin: 1rem;
    padding: 0.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    right: 0px;
    outline: none;
    cursor: auto;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.alert_box.hide {
    cursor: grab;
    opacity: 0;
}

.alert_button {
    background: #fff;
    background-color: transparent;
    position: absolute;
    border: none;
    width: 2px;
    top: 0;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert_button:hover {
    background: rgb(235, 235, 235, 0.4);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .grid {
        flex-direction: column;
        width: 100%;
        max-width: 300px;
    }
    .alert_box {
        bottom: 55px;
    }
}
