/* global styles */
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Light & Dark Theme */
body[data-theme='light'] {
    --color-text-primary: #27201a;
    --color-text-secondary: #4226f8;
    --color-text-tertiary: #4226f8;
    --color-bg-primary: #fff;
    --color-bg-toggle: #4226f8;
    --color-btn-hover: #873dfd;
}

body[data-theme='dark'] {
    --color-text-primary: #e3e3e3;
    --color-text-secondary: #1ad7c6;
    --color-text-tertiary: #ee9922;
    --color-bg-primary: #212121;
    --color-bg-toggle: #a9a9a9;
    --color-btn-hover: #fdda3d;
}

body {
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: sans-serif;
    transition: background 0.25s ease-in-out;
}

h1 {
    color: var(--color-text-secondary);
}

a {
    text-decoration: none;
    color: var(--color-text-secondary);
}

* {
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 95vw;
    padding: 0.5rem 0 1rem;
}

/* dark-light button */
.toggle-button {
    width: 38px;
    min-height: 38px;
    padding: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    background: var(--color-text-secondary);
    transition: background 0.25s ease-in-out;
}

.toggle-button:hover {
    background-color: var(--color-btn-hover);
}

.show-button {
    width: auto;
    min-width: 120px;
    background-color: var(--color-text-secondary);
    color: var(--color-bg-primary);
    transition: 0.4s;
}

.show-button:hover {
    background-color: var(--color-btn-hover);
}

.sun-icon path {
    fill: var(--color-bg-primary);
}

.title a {
    color: #4226f8;
    text-decoration: none;
}

h1 a:hover,
.title a:hover,
h1 a:focus,
.title a:focus,
h1 a:active,
.title a:active {
    text-decoration: underline;
    color: var(--color-text-tertiary);
}

h1,
.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

h1,
h2,
.title {
    text-align: center;
}

form {
    display: flex;
    flex-flow: column;
    padding: 0.5rem;
    max-width: 300px;
    margin: 0 auto;
}

input,
select {
    padding: 8px;
    margin: 0.3rem 0 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

span {
    font-weight: 600;
}

label {
    display: flex;
    flex-flow: column;
}

button {
    padding: 0.4rem 1rem;
    margin: 0.5rem;
    border: none;
    width: 50%;
    height: 38px;
    border-radius: 4px;
    cursor: pointer;
    background: var(--color-bg-primary);
}

button.popup {
    width: auto;
    margin-left: 0;
    color: var(--color-text-primary);
}

.container {
    padding: 0 2rem;
}

.main {
    min-height: 80vh;
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Map */

.mapboxgl-ctrl-group button {
    width: 36px !important;
    height: 36px !important;
}

.mapboxgl-ctrl-group {
    margin: 10px !important;
}

.mapboxgl-ctrl-geocoder--input {
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%) !important;
}

.mapboxgl-ctrl-geocoder--button {
    width: auto;
}

/* Popup */

.mapboxgl-popup-content {
    background-color: var(--color-text-secondary) !important;
    color: var(--color-bg-primary);
}

.mapboxgl-popup-close-button {
    color: var(--color-bg-primary);
    font-size: 1.8rem;
    margin-right: 5px;
    padding: 10px;
    width: auto;
}

.mapboxgl-marker svg path {
    fill: var(--color-text-tertiary) !important;
}

.new-friend {
    padding: 1rem 0.5rem 0.5rem;
    min-width: 235px;
}

/* Error and alert messages */
.msg {
    font-weight: bold;
    padding: 10px 15px;
}

.error_msg {
    color: #f30070;
    background-color: #ffd5d5;
}

.success_msg {
    color: #4f8a10;
    background-color: #e2f1c7;
}

.padding-none {
    padding: 0;
}

/* Card */
.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    /* use toggle color */
    color: var(--color-text-secondary);
    border-color: var(--color-text-secondary);
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.card-title {
    text-decoration: underline;
    font-size: 1.6rem;
}

.mapboxgl-ctrl-geocoder--button {
    width: auto;
}

.card-time {
    font-size: 1.4rem;
    margin-left: 2rem;
}

.friend-card {
    max-width: 650px;
    width: 650px;
}

.card-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Responsive styles */

@media only screen and (max-width: 768px) {
    .main {
        justify-content: flex-start;
    }

    button {
        width: auto;
    }
}

@media (max-width: 640px) {
    .main {
        min-height: 70vh;
        padding: 0;
    }

    .description {
        margin: 2rem 0;
        font-size: 1.4rem;
    }

    .title {
        font-size: 3rem;
    }

    .card {
        padding: 1rem;
    }

    .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
        max-width: 230px;
    }

    .mapboxgl-ctrl-group button {
        height: 50px !important;
    }

    .mapboxgl-ctrl-geocoder {
        width: auto !important;
        margin-bottom: -15px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
    .card {
        padding: 0.8rem;
    }

    .card p {
        font-size: 1rem;
    }

    .friend-card {
        max-width: 300px;
        height: auto;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-time {
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }

    .index-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    h1,
    .title {
        font-size: 2.2rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card {
        padding: 0.8rem;
        margin: 0.4rem;
    }

    .card h2 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 1rem;
    }

    .friend-card {
        max-width: 300px;
        width: auto;
        height: auto;
    }

    .card-time {
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }
}

.navigation {
    top: 45px;
    right: 5px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .grid {
        flex-direction: column;
        width: 100%;
        max-width: 300px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    .mapboxgl-ctrl-geocoder {
        max-width: 200px;
        min-width: 200px !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
    .mapboxgl-ctrl-geocoder {
        max-width: 260px;
        min-width: 260px !important;
    }

    .navigation {
        top: 65px;
    }
}
