/* home page styles */
.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.footer p {
    color: var(--color-text-secondary);
}

.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .description {
        margin: 2rem 0;
        font-size: 1.4rem;
    }

    .navbar a {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .description {
        font-size: 1rem;
        margin: 1rem 0;
    }
}

.border {
    border: 1px solid #eaeaea;
}

ul.user_list {
    list-style-type: none;
}

.login {
    max-width: 21rem;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* NavBar */
.navbar {
    display: flex;
    flex: 1;
    padding: 0.5rem 1rem;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #eaeaea;
}

.navbar a {
    font-size: 1.4rem;
}

.navcontainer {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.navlink {
    display: inline-block;
    margin-left: 40px;
}

.menu {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: var(--color-text-primary);
}

.navmenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.navlink {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 1.5rem;
}

.navlink:hover {
    color: var(--color-text-secondary);
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 600;
    font-style: italic;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin-left: 1rem;
    color: var(--color-text-secondary);
}

.logo {
    color: var(--color-text-secondary);
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0.5rem;
        margin-bottom: 5px;
    }

    .navmenu {
        position: fixed;
        left: -100%;
        top: 0.5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 3px;
        text-align: center;
        transition: 0.2s;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
        padding: 15px 0;
        z-index: 3;
    }

    .navmenu.active {
        left: 0;
    }

    .navlink {
        margin: 1.5rem 0;
    }

    .menu {
        display: block;
        cursor: pointer;
        z-index: 4;
        border: 1px solid var(--color-text-primary);
    }

    .menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .menu.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .bar {
        width: 15px;
    }

    .subtitle {
        display: none;
    }
}
