.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.navbar {
    display: flex;
    flex: 1;
    padding: 1.5rem;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    /* background-color: #0070f3; */
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #eaeaea;
}

.navbar a {
    font-size: 1.4rem;
}

.navlink {
    display: inline-block;
    margin-left: 40px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .main {
        min-height: 70vh;
    }

    .description {
        margin: 2rem 0;
        font-size: 1.4rem;
    }

    .title {
        font-size: 3rem;
    }

    .card {
        padding: 1rem;
    }

    .grid {
        width: 100%;
        flex-direction: column;
    }

    .navbar a {
        font-size: 1.2rem;
    }
}

.border {
    border: 1px solid #eaeaea;
}

ul.user_list {
    list-style-type: none;
}

.login {
    max-width: 21rem;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
